@{
    Layout = "_Layout";
}

@using AnimalShelter.Models;
@model List<AnimalShelter.Models.Animal>;

<h1>Animals</h1>

<ul>
    @foreach(Animal animal in Model)
    {
        <li>@Html.ActionLink($"{animal.Name}", "Details", new { id = animal.AnimalId })</li>
    }
</ul>

@using (Html.BeginForm())
{
    <input type="submit" value="Sort list by breed" />
}

<p>@Html.ActionLink("Sort list by breed", "Show")</p>
<p>@Html.ActionLink("Add a new animal", "Create")</p>